# epay-go/.env.example
# 数据库配置
DB_USER=epay
DB_PASSWORD=4f1fe5bd23d3ce92834cf455e54f21c4
DB_NAME=epay
DB_PORT=5432

# Go 模块代理
GOPROXY=https://goproxy.cn,direct

# JWT 密钥
JWT_SECRET=0722b0cd7ebc3187078afe162d1e22cd6a21ea41a8cf3d60fc16b12f2a9b0c71

# 默认管理员初始化（仅数据库中不存在管理员时生效）
DEFAULT_ADMIN_USERNAME=epay_admin
DEFAULT_ADMIN_PASSWORD=4b5b3cf680dcae9cda3a1806

# 支付宝配置
ALIPAY_APP_ID=
ALIPAY_PRIVATE_KEY=
ALIPAY_PUBLIC_KEY=

# 微信支付配置
WECHAT_APP_ID=
WECHAT_MCH_ID=
WECHAT_API_KEY=

#域名配置
SITE_ADDRESS=pay.example.com
ACME_EMAIL=admin@example.com
REDIS_PASSWORD=ee9f98b72f9b57cbf6269916d7505ce8
